/* *
{
    border: black solid 1px;
} */
@font-face
{
    font-family: Raleway;
    src: url('./static/Raleway-Medium.ttf');
}

strong /*  Toutes les balises comportant <strong> sont en police "gras" */
{
    font-weight: bold;
}

h3
{
    font-weight: bold;
    font-size: 13px;
}

h2
{
    font-weight: bold;
    font-size: 20px;
}

body 
{
    font-family: Raleway;
    width: 100%;
    margin: auto;
    font-size: 14px;
}

/* I- Header */
#logo_inscrip /* RESPONSIVE */
{
    display: none;
}

.bloc_logo_menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;
    margin-left: 54px;
}

/* Logo */
#logo
{
    padding-top: 50px;
    padding-bottom: 20px;
    height: 50px;
    
}

/* Menu */
nav 
{
    flex-grow: 1;
}
#menu_responsive /* MENU RESPONSIVE */
{
    display: none;
}

#menu
{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    color: black;
}

.menu_list
{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    margin-right: 40px;
}

.menu_list:hover .menu_ancre
{
    color:#0065FC;
}

.menu_ancre 
{
    text-decoration: none;
    color: black;
}

#inscription
{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

.menu_list:hover
{
    border-top: 3px solid #0065FC;
}

/* Texte Intro */

.p1
{
    font-weight:bold;
    font-size: 20px;
    margin-left: 55px; /* Ajustement bordure */
}

.p2
{
    font-size: 15px;
    margin-left: 56px; /* Ajustement bordure */

}

/* Barre de recherche */

#responsive_button
{
    display: none;
}
.Barre_de_recherche
{
    display: flex;
    margin-left: 54px; /* Ajustement bordure */
}


.fa-map-marker-alt
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
    background-color:#F2F2F2;
    padding: 18px 16px 16px 18px;
    padding-top: 18px;
}

#Search
{
    cursor: pointer;
    border: 1px #F2F2F2 solid;
    width: 15%; 
    height: 50px;
    font-size: 17px;
    font-weight: bold;
}

#button
{
    display: inline-block; /* Voir à quoi cela sert ??? */
    text-align: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 10%;
   
    color: #ffffff;
    background-color: #0065fc;
    cursor: pointer;
    border: 1px;
}


/* II- Body */

/* Filtre */
#filtre_responsive
{
    display: none;
}

#titre_filtre
{
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

#composant_filtre
{
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    list-style-type: none;
    margin-left: 63px;
}

.filtre
{
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 10px;
    margin-right: 0;
    margin-left: 30px;
    margin-top: 31px;
}
.filtre:hover /* changement d'effet au survole souris */
{
    box-shadow: 11px 15px 42px -4px rgba(0,0,0,0.25);
}

.filtre figcaption
{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 15px;
    width: fit-content;
}

figcaption a
{
    text-decoration: none;
    color: black;
}

.taille_filtre
{
    font-size: 15px;
    font-weight: bold;
}

.icone_filtre1 /* filtres économique et animaux  */
{
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 16px  12px;
    background-color: #DEEBFF; 
}

.icone_filtre2 /* FILTRE FAMILIAL */
{
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 16px 16px;
    background-color: #DEEBFF; 
}
.icone_filtre3 /* FILTRE ROMANTIQUE */
{
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 16px 14px;
    background-color: #DEEBFF; 
}



.fa-money-bill-wave
{
    filter: invert(40%) sepia(75%) saturate(7500%) hue-rotate(210deg) brightness(100%) contrast(104%);
}

.fa-child
{
    filter: invert(40%) sepia(75%) saturate(7500%) hue-rotate(210deg) brightness(100%) contrast(104%);
}

.fa-heart
{
    filter: invert(40%) sepia(75%) saturate(7500%) hue-rotate(210deg) brightness(100%) contrast(104%);
}

.fa-dog
{
    filter: invert(40%) sepia(75%) saturate(7500%) hue-rotate(210deg) brightness(100%) contrast(104%);
}

/* texte + icon */
#bloc_info
{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 55px;
}

#icon_info
{
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    padding: 3px 9px 4px 9px;
}

#icon_info img
{
    width: 5px;
    padding-top: 2px; /* ajustement bordure top */

}

.fa-info
{
    filter: invert(40%) sepia(75%) saturate(7500%) hue-rotate(210deg) brightness(100%) contrast(104%);
}

#text p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13px;
}

/* HERBERGEMENT */

#Hebergements_responsive /* RESPONSIVE */
{
    display: none;
}

#logement
{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
}

/* bloc_logement (hébergement à marseille et les plus populaires) */
#bloc_hebergement
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    background-color:  #F2F2F2;
    border-radius: 20px;
    width: 100%;
    margin-right: 40px;
}

#Hebergements /* Titre + ancre Hebergements */
{
    padding-left: 41px;
    padding-top: 25px;/* ajustement bordure "top" (compensation)*/
}


#Part1 /* flexbox part1 (bloc hébergement) */
{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

#Part2 /* flexbox part2 (bloc hébergement) */
{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.box
{ 

    border: 1px solid  #F2F2F2;
    border-radius: 20px;
    box-shadow: 1px 1px 1px  #F2F2F2;
    padding: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white ;
    height: fit-content;
    width: 100%;
    margin-right: 0;
}

.box a
{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.box:hover
{
    box-shadow: 11px 15px 42px -4px rgba(0,0,0,0.25);
}

.img_heberg
{
    height: 9vw;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
   
}

.figcaption_logement a
{
    padding-left: 17px;
    margin: 0px;
}

.figcaption_logement p
{
    line-height: 0;
    font-size: 12px;
}

.figcaption_logement h3
{
    margin-bottom: 0;
}

.box_star
{
    display: flex;
    flex-direction: row;
}

.fa-star
{
    padding-right: 2px;
    filter: invert(40%) sepia(75%) saturate(7500%) hue-rotate(210deg) brightness(100%) contrast(104%);
}

.star_gray
{
    padding-right: 2px;
    filter: invert(100%) sepia(4%) saturate(111%) hue-rotate(231deg) brightness(116%) contrast(90%);
}

.texte_hebergement /* texte dans le bloc Hebergement (afficher plus) */
{
    margin-top: 25px;
    margin-bottom: 55px;
    margin-left: 40px;
    margin-right: auto;
    text-decoration: none;
    color: black;
    height: 17px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0px;
}

.texte_hebergement:hover /* Taille de police ==> effet survol */
{
    font-size: 18px;
}


/* Bloc populaire */
#Populaire 
{
    display: flex;
    flex-direction: column;
    border: 1px solid  #F2F2F2;
    background-color:  #F2F2F2;
    border-radius: 20px;
    width: auto;
}

#titre_populaire
{
    padding-left: 38px;
    padding-top: 25px; /* Ajustement bordure "top" (compensation) */
}

#titre_icon_bloc
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.fa-chart-line
{
    padding-right: 40px;
    padding-top: 25px; /* Ajustement bordure "top" (compensation) */
}

.img_pop
{
    height: 100%;
    width: 7vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.box2
{
    display: flex;
    flex-direction: row;
    border: 1px solid  #F2F2F2;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: white;
    width: auto;
    height: 7vw;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.box2 a
{
    text-decoration: none;
    color: black;
}

.box2:hover
{
    box-shadow: 11px 15px 42px -4px rgba(0,0,0,0.25);
}

.figcaption_populaire
{
    padding-left: 15px;
    padding-right: 10px;
    font-size: 12px;
}


.figcaption_populaire h3
{
    margin-bottom: 0;
    margin-top: 10px;
}

.figcaption_populaire a
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.box_star2
{
    display: flex;
    flex-direction: row;

}

/* les activités à Marseille */
#Activites_responsive /* RESPONSIVE */
{
    display: none;
}


#Activite_a_Marseille
{
    padding-bottom: 60px; /* Ajustement d'espace entre les éléments  */
    width: 100%;
}

#Activites
{
    
    margin-left: 5%;
    margin-top: 65px; /* Ajustement */
}

#bloc_activites /* Flexbox mettre en ligne les box (row) */
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.box_column
{
    margin-right: 10px;
    margin-left: 5px;
}

.box_column a
{
    display: flex;
    flex-direction: column;
    text-decoration: none;
     color: black;
}

.box3 /* flexbox */
{
    border: 1px solid  #F2F2F2;
    border-radius: 20px;
    box-shadow: 1px 1px 1px  #F2F2F2;
    background-color: white ;
    height: fit-content;
    width: fit-content;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 0;

}

.box3:hover /* changement d'effet au survol */
{
    box-shadow: 11px 15px 42px -4px rgba(0,0,0,0.25);
}

.titres_box /* marge entre titres et box de chaque photos Activités */
{
    padding-left: 19px;
}
.img_port_calanques /* Dimensions images */
{
    width: 19vw;
    height: 24vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#img_pomegues /* dimension image */
{
    width: 19vw;
    height: 12vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#img_frioul /* dimension image */
{
    width: 19vw;
    height: 8vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#img_DameDeLaGarde /* dimension image */
{
    width: 19vw;
    height: 12vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#img_longchamp /* dimension image */
{
    width: 19vw;
    height: 8vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


/* III-Footer */
footer
{
    display: flex;
    flex-direction: row;
    background-color:  #F2F2F2;
    width: auto;

}
footer ul
{
    list-style-type: none; /* Enleve liste à puce */
}
.box4 /* FLEXBOX */
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%; /*Ajustement des bordures entre les blocs*/
    padding-top: 50px;
    padding-bottom: 55px;
}

footer * /* "*" tous les enfants héritent... */
{
    text-decoration: none;
    color: black;
}

.titre_footer
{
    font-size: 19px;
    font-weight: bold;
    width: fit-content;
}

.lien_footer /* Espacement entre liste à puce/ lien */
{
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 18px;
    width: fit-content;
}

.lien_footer:hover /* taille police ==> effet au survol */
{
    font-size: 17px;
}

@media screen and (max-width: 720px)
{
    body 
    {
        width: 100vw;
    }

    .bloc_logo_menu
    {
        display: none;
    }
    /* Bloc Respopnsive LOGO et S'INSCRIRE */

    nav /* Responsive */
    {
        flex-grow: 0;
    }


    #logo_inscrip
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 93vw;
        padding-top: 32px;
        padding-left: 21px;

    }

    #logo_responsive
    {
        height: 45px;
        width: 95px;
    }
    

    #ins_respo ul
    {
        list-style-type: none;
    }


    #list_respo a
    {
        text-decoration: none;
        color: #0065FC;
        font-weight: bold;
        padding-right: 21px;
        border-bottom: none;
    }

  
    #list_respo:hover
    {
        color:#0065FC;
        cursor: pointer;
    }

    /* Menu Responsive*/

    #menu_responsive
    {
        display: flex;
        flex-direction: row;
        width: fit-content;
    
    }
    #menu_respo
    {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        color: black;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        width: 98vw;
        
        
    }

    .menu_list_responsive
    {
        padding-bottom: 10px;
        text-align: center;
        padding-right: 34px;
        padding-left: 34px;
        margin-top: 20px;
        padding-top: 0;
        width: 30vw;
        margin-right: 0;
        margin-left: 0;
    }

    .menu_list_responsive:hover
    {
        border-bottom: 2px solid #0065FC;
        border-radius: 0px;
    }  
    .menu_ancre_responsive 
    {
        text-decoration: none;
        color: black;
    }
    
    
    /* Texte */
    #section_page
    {
        padding-left: 21px;
        padding-right: 21px;
    }

    .p1
    {   
        font-weight:bold;
        font-size: 20px;
        margin-left: 0;
    }

    .p2
    {
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 30px;

    }

    /* Barre de recherche */
    #button
    {
        display: none;
    }

    .Barre_de_recherche
    {
        margin-left: 10px; /* Ajustement bordure */
        margin-right: 10px;
    }

    #responsive_button
    {
        display: inline-block; /* Voir à quoi cela sert ??? */
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        width: 51px; /* Responsive */
        background-color: #0065fc;
        border-color: #0065fc;
        cursor: pointer;
        margin-left: -18px;
        border: 1px;
    }
    .fa-search /* pour responsive */
    {
        color: white;
    }

    #Search
    {
        width: 229px; 
        height: 50px;
    }

    /* FILTRES */
    #titre_filtre
    {
        flex-direction: row;
        justify-content: start;
        width: 100vw;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 20px; /* Taille responsive */
        font-weight: bold;
        margin-left: 14px;
        margin-bottom: 0;
        margin-top: 30px;
    }
    
    #composant_filtre
    {
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        list-style-type: none;
        margin-left: 11px;
    }
    
    .filtre
    {
        border-radius: 30px;
        margin-left: 9px;
        margin-top: 20px;
        padding-right: 0;
    }
    
    .taille_filtre
    {
        font-size: 18px;
        font-weight: bold;
    }

    .filtre figcaption 
    {
        margin: 0 10px;
    }

    
    /* texte + icon */
    #bloc_info
    {
        display: flex;
        align-items: center;
        margin-left: 21px;
    }

    #text p
    {
        margin-left: 13px;
    }

    #icon_info
    {
        margin-left: 0;
    }
    
    /* logement */
    #logement
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
    }

    /* Populaire */
    #Populaire 
    {
        border: none;
        border-radius: 0;
        padding-bottom: 36px;
        margin-right: 0;
        width: auto;
    }
    .box2
    {
        max-width: 90vw;
        height: fit-content;
        margin-bottom: 0;
        margin-left: 19px;
        margin-right: 19px;
        margin-top: 15px;
    }
    
    .figcaption_populaire
    {
        padding-right: 15px;
    }

    .figcaption_populaire p 
    {
        margin-bottom: 0;
    }

    .figcaption_populaire h3 
    {
        margin-top: 12px;
    }
    
    #titre_populaire
    {
        padding-left: 0px;
    }
    
    #titre_icon_bloc
    {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .fa-chart-line
    {
        padding-right: 10px;
        padding-top: 25px; /* Ajustement bordure "top" (compensation) */
    }
    .img_pop
    {
        height: 30vw;
        width: 30vw;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        object-fit: cover;
    }

    .box_star2
    {
        padding-top: 0;
    }
    
    /* bloc_logement (hébergement à marseille et les plus populaires) */
    #Hebergements
    {
        display: none;
    }

    #Hebergements_responsive /* Titre + ancre Hebergements */
    {
        display: block;
        padding-left: 10px;
        padding-top: 25px;/* ajustement bordure "top" (compensation)*/
    }

    #bloc_hebergement
    {
        display: flex;
        flex-direction: column;
        float: left;
        background-color: white;
        border: 1px solid white ;
        width: auto;
        margin-left: 15px;
        margin-right: 20px;
    
    }

    #Part1 /* flexbox part1 (bloc hébergement) */
    {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        
    }
    
    #Part2 /* flexbox part2 (bloc hébergement) */
    {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    
    .box
    { 
        border: 1px solid  #F2F2F2;
        border-radius: 20px;
        box-shadow: 1px 1px 1px  #F2F2F2;
        padding: 10px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: white ;
        height: fit-content;
        width: 100%;
        margin: 20px auto;
    }

    .img_heberg
    {
        height: 114px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .texte_hebergement /* texte dans le bloc Hebergement (afficher plus) */
    {
        margin-top: 25px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: auto;
        text-decoration: none;
        color: black;
        height: 17px;
        font-weight: bold;
        font-size: 16px;
        padding-top: 0px;
    }


    /* les activités à Marseille */
    #Activites
    {
        display: none;
    }
    
    #Activite_a_Marseille
    {
        padding-bottom: 60px; /* Ajustement d'espace entre les éléments  */
    }

    #Activites_responsive
    {
        display: block;
        margin-left: 19px; /* Ajustement bordure responsive*/
        margin-top: 65px; /* Ajustement */
    }

    #bloc_activites /* Flexbox mettre en ligne les box (row) */
    {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .box3 /* flexbox */
    {
        border: 1px solid  #F2F2F2;
        border-radius: 20px;
        box-shadow: 1px 1px 1px  #F2F2F2;
        background-color: white ;
        height: fit-content;
        width: fit-content;
        margin-bottom: 25px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .box_column
    {
        margin-right: 0;
    }
    
    .titres_box /* marge entre titres et box de chaque photos Activités */
    {
        padding-left: 19px;
    }
    .img_port_calanques /* dimension image responsive*/
    {
        width: 100%;
        height: 134px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    
    #img_pomegues /* dimension image responsive*/
    {
        width: 100%;
        height: 134px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    
    #img_frioul /* dimension image responsive*/
    {
        width: 100%;
        height: 134px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    #img_DameDeLaGarde /* dimension image responsive*/
    {
        width: 100%;
        height: 134px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    
    #img_longchamp /* dimension image responsive*/
    {
        width: 100%;
        height: 134px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    
    
    /* III-Footer */
    footer
    {
        display: flex;
        flex-direction: column;
        background-color:  #F2F2F2;
    
    }
  
    .box4 /* FLEXBOX */
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; 
        padding-top: 15px;
        padding-bottom: 0;
    }
  
    .titre_footer
    {
        font-size: 19px;
        font-weight: bold;
    }
    
    .lien_footer /* Espacement entre liste à puce/ lien */
    {
        margin-top: 18px;
        margin-bottom: 18px;
        font-size: 16px;
    }
    
    .lien_footer:hover /* taille police ==> effet au survol */
    {
        font-size: 15px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1270px) /* Résolution intermédiaire Tablette*/
{
   body 
   {
        width: 100vw;
   }

   h3
   {
       font-size: 12px;
   }

   /* BLOC LOGO MEMU */
   .bloc_logo_menu
   {
       margin-left: 18px;
   }

   .menu_list
   {
       margin-right: 10px;
   }



   /* TEXTE DESCRIPTION */
   .p1
   {
       margin-left: 18px;
   }

   .p2
   {
       margin-left: 20px;
   }

   /* Barre de recherche */
   .Barre_de_recherche
   {
       margin-left: 18px;
   }
    #Search
    {
        width: 234px;
    }
    
    #button
    {
        width: 15%;
        padding: 0;
    }

    /* FILTRES */
    #composant_filtre
    {
        width: 100vw;
        margin-left: 0px;
    }
 
    #titre_filtre
    {
        margin-left: 5px;
        font-size: 18px;
    }

    .filtre
    {
        margin-left: 10px;
        padding-right: 0;
    }

    .taille_filtre
    {
        font-size: 14px;
    }

    /* TEXTE INFO */
    #bloc_info
    {
        margin-left: 15px;
    }

    /* LOGEMENT (Hébergement + Populaire) */
    #logement
    {
        margin-left: 0px;
        flex-direction: column-reverse;
        margin-right: 0px;
    }
    /* HEBERGEMENT */

    #bloc_hebergement
    {
        background-color: white;
        border: 1px solid white;
        margin-left: 20px;
        margin: 20px;
        width: auto;
    
    }

    .figcaption_logement p
    {
        font-size: 11px;
    }

    .texte_hebergement
    {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size:  15px ;
    }

    .texte_hebergement:hover /* Taille de police ==> effet survol */
    {
        font-size: 14px;
    }

    #Part1
    {
        margin-right: 0;
    }

    #Part2
    {
        margin-right: 0;
    }

    .box
    {
        margin-left: 5px;
    }

    /* POPULAIRE */

    #Populaire
    {
        flex-direction: column;
        border-radius: 0;
        padding-bottom: 10px;
        width: fit-content;
    }

    #titre_populaire
    {
        margin-right: 50px;
        margin-top: 0;
    }

    #bloc_pop_responsive
    {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
    .box2
    { 
        flex-direction: column;
        border: 1px solid  #F2F2F2;
        border-radius: 20px;
        box-shadow: 1px 1px 1px  #F2F2F2;
        padding: 10px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: white ;
        height: auto;
        width: auto;
    }
    .box2 h3
    {
        font-size: 14px;
    }
    .box2 a
    {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
    }
    
    .img_pop
    {
        height: 10vw;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .figcaption_populaire
    {
        padding-right: 25px;
    }

    .figcaption_populaire p 
    {
        font-size: 11px;
    }

    .box_star2
    {
        padding-top: 0;
    }

    /* ACTIVITES */
    #Activite_a_Marseille
    {
        margin-left: 0;
    }

    #Activites
    {
        padding-left: 0;
    }

    #bloc_activites
    {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box_column
    {
        margin-right: 30px;

    }

    .box3
    {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }

    .titres_box
    {
        font-size: 10px;
        padding-left: 10px;
    }

    /* FOOTER */

    .box4
    {
        width: 50%;
    }

    .titre_footer
    {
        font-size: 15px;
    }

    .lien_footer
    {
        font-size: 12px;
    }


}    
